@import url("https://fonts.googleapis.com/css2?family=Libre+Bodoni:wght@700&display=swap");

.App {
  font-family: "Libre Bodoni", serif;
  text-align: center;
}

h1 {
  font-family: Arial, sans-serif;
}

h2 {
  font-family: Arial, sans-serif;
}

.cover {
  background-color: #f5f5f5;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.nav {
  background-color: #2c3e50;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.footer {
  background-color: #2c3e50;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.container {
  padding: 20px;
}

.container-center {
  max-width: 400px;
  margin: auto;
}

button {
  font-size: 1rem;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  background: #3498db;
  color: #fff;
  transition: all 0.3s ease;
}

button:hover {
  background: #2980b9;
}

ol {
  padding: 0;
}

li {
  margin: 10px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.artist,
.song {
  font-weight: bold;
}

.song {
  color: #3498db;
}
